.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 194, 194, 0.459);
  z-index: 100;
}

.modal h1 {
  color: #FFD100;
  text-align: center;
}

.modal-text {
  background-color: #1a2f4b;
  width: 28%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.word {
  text-transform: uppercase;
  background: #5ac85a;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .modal-text {
    width: 50%;
    padding: 1.5rem;
  }

  .word {
    font-size: 1.2rem; 
  }
}


@media (max-width: 480px) {
  .modal-text {
    width: 80%;
    padding: 2rem;
    font-size: 0.9rem;
  }

  .word {
    font-size: 1rem; 
    padding: 0.4rem;
  }
}